.btn {
  cursor: pointer;
  border-radius: var(--sp-2);
  color: var(--c-fg-2);
  padding: var(--sp-2);
  background: var(--c-bg-1);
  border: none;

  &:hover {
    background: var(--c-bg-2);
  }

  &:active {
    color: var(--c-fg-1);
  }
}

textarea.input,
.input[type="number"],
.input[type="text"] {
  border-radius: var(--sp-2);
  color: var(--c-fg-2);
  padding: var(--sp-2);
  background: var(--c-bg-2);
  border: none;
}

.input[type="number"] {
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0;
  text-align: right;
}

.input[type="range"] {
  cursor: pointer;
  appearance: none;
  background: transparent;
  border-radius: var(--sp-2);

  &:focus {
    outline: 0;
  }

  &::-webkit-slider-runnable-track {
    width: 100%;
    height: 0.5rem;
    border-radius: 1rem;
    color: transparent;
    background: var(--c-bg-3);
    border: none;
  }
  &::-webkit-slider-thumb {
    height: 1rem;
    width: 1rem;
    border-radius: 1rem;
    border: none;
    background: var(--c-fg-1);
    margin-top: -0.25rem;
    --webkit-appearance: none;
    appearance: none;
  }
  &:focus::-webkit-slider-thumb {
    outline-width: 2px;
    outline-style: solid;
    outline-color: var(--c-blurple);
  }

  &::-moz-range-track {
    width: 100%;
    height: 0.5rem;
    border-radius: 1rem;
    color: transparent;
    background: var(--c-bg-3);
    border: none;
  }
  &::-moz-range-thumb {
    height: 1rem;
    width: 1rem;
    border-radius: 1rem;
    border: none;
    background: var(--c-fg-1);
  }
  &:focus::-moz-range-thumb {
    outline-width: 2px;
    outline-style: solid;
    outline-color: var(--c-blurple);
  }
}

.input-switch {
}
